@import 'variables';

// Container
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 $spacer;
}

// Grid
.row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -$spacer-sm;
}
.col {
  padding: 0 $spacer-sm;
  flex: 1; // auto columns
}

// Flex helpers
.d-flex { display: flex; }
.justify-center { justify-content: center; }
.align-center   { align-items: center; }
